.the-feed {
  background-color: #e9ebee;
  height: 100%; }
  .the-feed .tabs {
    margin-top: 1em; }
  .the-feed .feed-section {
    margin-top: 3em;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto; }
    .the-feed .feed-section .card-post {
      margin-top: 1em;
      margin-bottom: 1em; }
